/* .h5p-container {
  font-family: 'Roboto', sans-serif;
} */

.h5p-content ul.h5p-actions {
  padding: 10px;
  height: unset;
  font-size: 14px;
  background: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.h5p-course-presentation .h5p-footer {
  height: 8%;
  padding: 5px;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-show {
  background: #4255bd;
  background-image: linear-gradient(90deg,#4255bd,#7b88d1);
}