/**
** Colors
**/
:root {
  --primary: #009688;
  --primary-dark: #1c7e74;
  --primary-darkest: #114a44;
  --primary-light: #3FD8C9;
  --primary-10: rgba(0, 150, 136, 0.1);
}

/**
** Editor / Form
**/
html, body {
  max-width: unset;
}

.form-manager > .tree,
.form-manager > .common,
.h5peditor-semi-fullscreen > .field {
  max-width: unset;
  margin: 0;
  padding: 2em;
}

.h5p-metadata-button-tip {
  display: none;
}
.h5p-metadata-toggler {
  border: 0;
  margin-left: 0;
  font-size: 0.9em;
  background: var(--primary);
  color: white;
}





.h5p-course-presentation .h5p-box-wrapper {
  height: 88%; 
}
.h5p-course-presentation .h5p-cp-navigation {
  height: 4%;
}
.h5p-course-presentation .h5p-footer {
  height: 8%;
  align-items: center;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-show {
  background: #4255bd;
  background-image: linear-gradient(90deg,#4255bd,#7b88d1);
}


.h5p-content ul.h5p-actions {
  padding: 10px;
  height: unset;
  font-size: 14px;
  background: #fff;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}


.h5p-print-dialog .h5p-inner {
  transform: translateY(50%);
}